<div class="d-flex flex-row pt-5 ps-5" style="background-color: var(--black-040404);">
  <button class="p-3 me-3" style="font-size: 14px;font-weight: 500;border: none;border-radius: 6px;" [style.background]="isTemplate? 'var(--purple-mid)':'var(--light-purple)'" [style.color]="isTemplate?'var(--input-text-color)':'var(--purple-dark)'" (click)="isTemplate=true">Template</button>
  <button class="p-3 me-3" style="font-size: 14px;font-weight: 500;border: none;border-radius: 6px;" [style.background]="isTemplate? 'var(--light-purple)':'var(--purple-mid)'" [style.color]="isTemplate?'var(--purple-dark)':'var(--input-text-color)'" (click)="isTemplate=false">Zea-Crew</button>
</div>

<app-templates *ngIf="isTemplate"></app-templates>

<div class="body-container" *ngIf="!isTemplate">
  <div class="heading">
    <p class="text-white fs-2">What is Zea-Crew?</p>
    <p class="text-white">
      Crew is a platform that automates tasks, integrates AI tools, and streamlines team collaboration. It helps businesses improve efficiency by simplifying workflows and data handling.
    </p>
  </div>
  <div class="content-div">
    <div class="m-4 d-flex justify-content-between">
      <p class="title-p fs-4 fw-semibold">Existing Zea-Crew</p>
      <button
        class="outlinedButton"
        [ngStyle]="{ '--btn-color': 'var(--purple-button)' }"
        (click)="goToAddAgent()"
      >
        Create New Crew
      </button>
    </div>

    <div class="d-flex flex-wrap justify-content-start">
      <div
        class="card-div d-flex flex-column ms-3 me-3 p-3 mb-3 position-relative"
        *ngFor="let item of templates"
      >
      <button (click)="onDeleteTemplate(item.id)" style="border: none;background-color: transparent;background: transparent; padding: 0;position: absolute;top: 34px;right: 22px;">
        <img src="../../../assets/images/bin.png" alt="Delete" width="18.75px" />
        </button>
        <button (click)="onClickEditTemplate(item)" style="border: none;background-color: transparent;background: transparent; padding: 0;position: absolute;top: 34px;right: 50px;">
          <img src="../../../assets/images/tdesign_edit-filled.png" alt="Delete" width="18.75px" />
        </button>
      <div class="d-flex justify-content-start align-items-center my-3" style="gap: 8px;">
        <button class="outlinedRoundedButton" [ngStyle]="{ '--btn-color': 'var(--yellow-color)' }">
            {{item.enum}}
        </button>
                <img src="assets/gg_bot.svg" alt="icon" width="30px" height="25px" top="6px" class="mt-1"
                    left="1.13px" />
                    <p style="font-size: 18px;font-weight: 500;color:var(--input-text-color)">({{item.agents.length}})</p>
      </div>
          <div class="d-flex justify-content-start ">
            <div class="d-flex justify-content-center" style="gap: 8px;">
                <!-- <button > -->
                <!-- </button> -->
                <div class="seachGPT text-white" style="line-height: 1.3;">{{item.title}}</div>
            </div>
        </div>

        <p class="text-white my-3" *ngIf="item.description">
            {{ item.description }}
          </p>
          

        <div class="d-flex justify-content-start mb-3">
            <button class="outlinedRoundedButton me-2" [ngStyle]="{ '--btn-color': 'var(--purple-new)' }" *ngFor="let tool of item['tools']">
                {{tool}}
            </button>
        </div>

        <div class="d-flex justify-content-between">
            <button class="filledRoundedButton me-2 d-flex flex-row justify-content-center align-items-center" [ngStyle]="{ '--btn-color': 'var(--green-color)' }"
                (click)="navigateToChat(item)">
                <img src="assets/chat-icon.svg" style="width: 20px;" alt="">
                Chat
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
