<div class="body-container">
  <div class="heading">
    <p class="text-white fs-2">What is Zea-Crew?</p>
    <p class="text-white">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </div>
  <div class="content-div">
    <div class="m-4 d-flex justify-content-between">
      <p class="title-p fs-4">Existing Zea-Crew</p>
      <button
        class="outlinedButton"
        [ngStyle]="{ '--btn-color': 'var(--purple-button)' }"
        (click)="goToAddAgent()"
      >
        Create New Crew
      </button>
    </div>

    <div class="d-flex flex-wrap justify-content-start">
      <div
        class="card-div d-flex flex-column ms-3 me-3 p-3 mb-3"
        *ngFor="let item of cardList"
      >
        <div class="d-flex justify-content-between">
          <button
            class="outlinedRoundedButton"
            [ngStyle]="{ '--btn-color': 'var(--yellow-color)' }"
          >
            Default
          </button>
          <button
            class="outlinedRoundedButton"
            [ngStyle]="{ '--btn-color': 'var(--purple-button)' }"
          >
            Reset
          </button>
        </div>
        <p class="text-white pt-2 pb-4">{{ item.name }}</p>
        <div class="d-flex justify-content-between">
          <button
            class="filledRoundedButton me-2"
            [ngStyle]="{ '--btn-color': 'var(--green-color)' }"
          >
            Deploy
          </button>
          <button
            class="outlinedRoundedButton me-2"
            [ngStyle]="{ '--btn-color': 'var(--purple-new)' }"
          >
            Manage
          </button>
          <button
            class="outlinedRoundedButton me-2"
            [ngStyle]="{ '--btn-color': 'var(--highlight-color)' }"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
