<section class="container-fluid" style="background-color: var(--bg-2);height: calc(100dvh - 70px);overflow-y: auto;">
    <div class="row">
        <div class="col-md-12 px-5 pt-5 pb-4 d-flex flex-row justify-content-between align-items-center"
            style="height: fit-content;">
            <div>
                <h1 class="fs-20 fw-5 text-white">What is Integrations and Connection?</h1>
                <p class="fs-14 fw-4 text-white mb-0"> Integration is the process of linking different systems or applications to work together, while connection refers to the established link that enables seamless communication and data exchange between them.</p>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="w-100 px-4 py-3" style="background-color: var(--bg-1);border-radius: 4px;">
                <div class="d-flex flex-row justify-content-between align-items-center pb-3">
                    <p class="fs-16 fw-5 mb-0" style="color: var(--purple-highlight);">Existing Integrations</p>
                </div>
                <div class="w-100 row py-5">
                    <p class="fs-14 fw-5 text-white text-center">No Integrations Found</p>
                </div>
            </div>
        </div>
    </div>
</section>