<section class="container-fluid" style="background-color: var(--bg-2);height: calc(100dvh - 70px);overflow-y: auto;">
    <div class="row">
        <div class="col-md-12 px-5 pt-5 pb-4 d-flex flex-row justify-content-between align-items-center"
            style="height: fit-content;">
            <div>
                <h1 class="fs-20 fw-5 text-white">Dr. ZeaMed AI Templates</h1>
                <p class="fs-14 fw-4 text-white mb-0">Create an agent by adding a name / goal, and hitting deploy! Try
                    our examples below!</p>
            </div>
            <div>
                <button class="outlinedButton" (click)="goToAddAgent()">Create Template</button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="w-100 px-4 py-3" style="background-color: var(--bg-1);border-radius: 4px;">
                <p class="fs-16 fw-5" style="color: var(--purple-highlight);">Simple ways to whip up a template!</p>
                <div class="w-100 row">
                    <div class="col-md-4 d-flex flex-column justify-content-start align-items-start">
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <div class="d-flex flex-row justify-content-center align-items-center"
                                style="width: 33px;height: 33px;background-color: var(--purple-mid);border-radius: 50%;">
                                <p class="text-white fs-14 fw-5 mb-0">1</p>
                            </div>
                            <p class="text-white fs-14 fw-4 mb-0 ms-2">Write basic info about Template</p>
                        </div>
                        <div class="w-100 mt-3 px-3 py-2"
                            style="border: 1px solid var(--purple-mid);border-radius: 6px;
                    background: linear-gradient(89.95deg, rgba(117, 18, 177, 0.18) 1.11%, rgba(163, 69, 220, 0.18) 48.15%, rgba(221, 58, 149, 0.18) 96.32%);">
                            <p class="fs-10 fw-5 text-white mb-1">Title</p>
                            <div class="p-1 w-100" style="background-color: var(--bg-2);border-radius: 4px;"></div>
                            <p class="fs-10 fw-5 text-white my-2">Description</p>
                            <div class="p-1 w-100 mb-3" style="background-color: var(--bg-2);border-radius: 4px;"></div>
                            <div class="d-flex flex-row">
                                <div class="p-1 mb-3"
                                    style="background-color: var(--bg-2);border-radius: 4px;width: 70%;margin-right: 5%;">
                                </div>
                                <div class="p-1 mb-3"
                                    style="background-color: var(--bg-2);border-radius: 4px;width: 25%;"></div>
                            </div>
                            <div class="p-1 w-100 mb-3" style="background-color: var(--bg-2);border-radius: 4px;"></div>
                            <div class="p-1 mb-2"
                                style="background-color: var(--bg-2);border-radius: 4px;width: 75%;margin-right: 5%;">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-column justify-content-start align-items-start">
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <div class="d-flex flex-row justify-content-center align-items-center"
                                style="width: 33px;height: 33px;background-color: var(--purple-mid);border-radius: 50%;">
                                <p class="text-white fs-14 fw-5 mb-0">2</p>
                            </div>
                            <p class="text-white fs-14 fw-4 mb-0 ms-2">Add Agent</p>
                        </div>
                        <div class="w-100 mt-3 px-3 py-2"
                            style="border: 1px solid var(--purple-mid);border-radius: 6px;
                    background: linear-gradient(89.95deg, rgba(117, 18, 177, 0.18) 1.11%, rgba(163, 69, 220, 0.18) 48.15%, rgba(221, 58, 149, 0.18) 96.32%);">
                            <p class="fs-10 fw-5 text-white mb-1">Agent Name</p>
                            <div class="p-1 w-100" style="background-color: var(--bg-2);border-radius: 4px;"></div>
                            <p class="fs-10 fw-5 text-white my-2">Backstory <span class="ms-4">Goal</span></p>
                            <div class="p-1 w-100 mb-3" style="background-color: var(--bg-2);border-radius: 4px;"></div>
                            <div class="d-flex flex-row">
                                <div class="p-1 mb-2"
                                    style="background-color: var(--bg-2);border-radius: 4px;width: 70%;margin-right: 5%;">
                                </div>
                                <div class="p-1 mb-2"
                                    style="background-color: var(--bg-2);border-radius: 4px;width: 25%;"></div>
                            </div>
                            <div class="d-flex flex-row mb-2 mt-2">
                                <div class="w-25 pe-2">
                                    <p class="fs-10 fw-5 text-white mb-2">LLM</p>
                                    <div class="p-1 w-100" style="background-color: var(--bg-2);border-radius: 4px;">
                                    </div>
                                </div>
                                <div class="w-25 px-2">
                                    <p class="fs-10 fw-5 text-white mb-2">Integration</p>
                                    <div class="p-1 w-100" style="background-color: var(--bg-2);border-radius: 4px;">
                                    </div>
                                </div>
                                <div class="w-25 px-2">
                                    <p class="fs-10 fw-5 text-white mb-2">Model</p>
                                    <div class="p-1 w-100" style="background-color: var(--bg-2);border-radius: 4px;">
                                    </div>
                                </div>
                                <div class="w-25 ps-2">
                                    <p class="fs-10 fw-5 text-white mb-2">Tools</p>
                                    <div class="p-1 w-100" style="background-color: var(--bg-2);border-radius: 4px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-column justify-content-start align-items-start">
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <div class="d-flex flex-row justify-content-center align-items-center"
                                style="width: 33px;height: 33px;background-color: var(--purple-mid);border-radius: 50%;">
                                <p class="text-white fs-14 fw-5 mb-0">3</p>
                            </div>
                            <p class="text-white fs-14 fw-4 mb-0 ms-2">Add Task</p>
                        </div>
                        <div class="w-100 mt-3 px-3 py-2"
                            style="border: 1px solid var(--purple-mid);border-radius: 6px;
                    background: linear-gradient(89.95deg, rgba(117, 18, 177, 0.18) 1.11%, rgba(163, 69, 220, 0.18) 48.15%, rgba(221, 58, 149, 0.18) 96.32%);">
                            <p class="fs-10 fw-5 text-white mb-1">Agent Name</p>
                            <div class="p-1 w-100" style="background-color: var(--bg-2);border-radius: 4px;"></div>
                            <p class="fs-10 fw-5 text-white my-2">Description</p>
                            <div class="p-1 w-100 mb-3" style="background-color: var(--bg-2);border-radius: 4px;"></div>
                            <div class="d-flex flex-row">
                                <div class="p-1 mb-2"
                                    style="background-color: var(--bg-2);border-radius: 4px;width: 70%;margin-right: 5%;">
                                </div>
                                <div class="p-1 mb-2"
                                    style="background-color: var(--bg-2);border-radius: 4px;width: 25%;"></div>
                            </div>
                            <div class="d-flex flex-row mb-2 mt-2">
                                <div class="pe-2" style="width: 40%;">
                                    <p class="fs-10 fw-5 text-white mb-2">Expected Output</p>
                                    <div class="p-1 w-100" style="background-color: var(--bg-2);border-radius: 4px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="w-100 px-4 py-3" style="background-color: var(--bg-1);border-radius: 4px;">
                <div class="d-flex flex-row justify-content-between align-items-center">
                     <p class="fs-16 fw-5" style="color: var(--purple-highlight);">Go with the Default Template!</p>
                <p class="fs-16 fw-5 text-white" >To explore prebuild template <span style="color: var(--purple-highlight);text-decoration: underline;cursor: pointer;" [routerLink]="'/new-default-template'">Click Here</span> </p>
                </div>
                <div class="w-100 row">
                    <div class="col-md-4" *ngFor="let template of templates">
                        <div class="w-100 ps-3 py-2 pe-2 h-100"
                            style="border: 1px solid var(--border-color);border-radius: 4px;">
                            <div class="d-flex flex-row justify-content-start align-items-center"
                                style="position: relative;padding-right: 62px;">
                                <img width="24" height="18" src="../../../../assets/images/Group.png" alt="">
                                <p class="fs-14 fw-5 ms-2 text-white mb-0">{{template.title}}</p>
                                <button class="fs-10 fw-4" 
                                style="position: absolute;top: 0px;right: 0px;border: 2px solid var(--yellow-color) !important;color: var(--yellow-color) !important;
                                width: 53px !important;height: 25px !important;background: var(--bg-1);border-radius: 25px;">
                                    Default
                                </button>
                            </div>
                            <p class="text-white fs-12 fw-4 mt-3 mb-0" *ngIf="template.description.length < 150">
                                {{template.description}}</p>
                            <p class="text-white fs-12 fw-4 mt-3 mb-0 position-relative" *ngIf="template.description.length >= 150">
                                {{template.description.substring(0,150)}} <button class="px-2 fs-12 fw-4" 
                                style="color: #E69FFF;text-decoration: underline;border: none;background: var(--bg-1);
                                position: absolute;bottom: 0;right: 0;" (click)="showTemplate(template)">Read More...</button></p>
                            <div class="d-flex flex-row justify-content-start align-items-center gap-4 mt-3">
                                <button class="btn-yellow">
                                    {{template.search_provider}}
                                </button>
                            </div>
                            <button class="fs-14 fw-4 mt-3 btn-green-hover" (click)="navigateToDeploy(template)">
                                    Deploy
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>