<div class="body-container">
    <div class="heading">
        <p class="text-white fs-2">What is Template?</p>
        <p class="text-white">
            Templates are pre-designed structures or formats that help users quickly set up and customize tasks, documents, or workflows. They provide a starting point, saving time and effort in creating something from scratch.
        </p>
    </div>
    <div class="content-div">
        <div class="m-4 d-flex justify-content-between">
            <p class="title-p fs-4 fw-semibold">Existing Template</p>
            <button class="outlinedButton" [ngStyle]="{ '--btn-color': 'var(--purple-button)' }"
                (click)="navigateToChild()">
                Add New Template
            </button>
        </div>
        <div class="d-flex justify-content-end m-4">
            <!-- <div class="d-flex flex-column ms-3 me-3 p-3 mb-3"> -->
            <div class="w-25">
                <p class="text-white fs-7">Select Template</p>
                <select class="form-select bg-dark text-white border-secondary">
                    <option value="gpt">ResearchGPT</option>
                    <option value="llama">Option2</option>
                    <option value="mistral">option3</option>
                </select>
            </div>
            <div class="w-25 sort-by-company">
                <p class="text-white fs-7">Sort by Company</p>
                <select class="form-select bg-dark text-white border-secondary">
                    <option value="gpt">All</option>
                    <option value="llama">Option2</option>
                    <option value="mistral">option3</option>
                </select>
            </div>
        </div>
        <div class="m-4 d-flex flex-wrap justify-content-start">
            <p class="tool-err">1 Tool Error Found</p>
        </div>
        <!-- </div> -->

        <div class="d-flex flex-wrap justify-content-start">
            <div class="card-div d-flex flex-column ms-3 me-3 p-3 mb-3" *ngFor="let item of templates">
                <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-between">
                        <!-- <button > -->
                        <img src="../../../assets/images/Group.png" alt="icon" width="21.75px" height="12px" top="6px"
                            left="1.13px" />
                        <!-- </button> -->
                        <div class="seachGPT text-white">{{item.title}}</div>
                    </div>
                    <!-- <div class="d-flex">
                        <div class="action-buttons">
                        <button (click)="onDeleteTemplate(item.id)" style="border: none;background-color: transparent;background: transparent; padding: 0;">
                        <img src="../../../assets/images/bin.png" alt="Delete" width="12.39px" height="13.05px" />
                        </button>
                        </div>
                    </div> -->
                </div>

                <div class="d-flex justify-content-start mt-3">
                    <button class="outlinedRoundedButton" [ngStyle]="{ '--btn-color': 'var(--yellow-color)' }">
                        Default
                    </button>
                </div>

                <p class="text-white my-3" *ngIf="item.description">
                    {{ item.description }}
                  </p>
                  

                <div class="d-flex justify-content-start mb-3">
                    <button class="outlinedRoundedButton me-2" [ngStyle]="{ '--btn-color': 'var(--purple-new)' }" *ngFor="let tool of item['tools']">
                        {{tool}}
                    </button>
                </div>

                <div class="d-flex justify-content-between">
                    <button class="filledRoundedButton me-2" [ngStyle]="{ '--btn-color': 'var(--green-color)' }"
                        (click)="navigateToDeploy(item)">
                        Deploy
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>