<div class="template-container container-fluid px-3 pb-3 pt-5 position-relative">
    <mat-dialog-actions style="position: absolute;top: 10px;right: 10px;">
        <button mat-button mat-dialog-close
            style="font-size: 22px;font-weight: 500;background: transparent;border: none;color: white;">X</button>
    </mat-dialog-actions>
    <div class="row">
        <div class="col-md-12">
            <p class="fs-22 fw-5 text-white mb-2">Title</p>
        </div>
        <div class="col-md-12">
            <p class="fs-14 fw-4 text-white">{{template.title}}</p>
        </div>
        <div class="col-md-12">
            <p class="fs-22 fw-5 text-white mb-2">Description</p>
        </div>
        <div class="col-md-12">
            <p class="fs-14 fw-4 text-white">{{template.description}}</p>
        </div>
    </div>
</div>