input {
    background-color: #27272a !important;
    border: 1px solid var(--input-border-color);
    border-radius: 6px;
    font-size: 12;
    font-weight: 400;
    padding: 14px;
    color: var(--input-text-color);
}