@use '@angular/material' as mat;
/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "primeicons/primeicons.css";

$dark-bg-1 : #18181b;
$dark-bg-2 : #040404;
$dark-bg-2-opacity : #04040480;
$dark-color-1 : #FAF6F6;
$dark-border-color: #4D4D4D;

/* Root Color Variables */
:root {
  --bg-1: #{$dark-bg-1};
  --bg-2: #{$dark-bg-2};
  --bg-2-opacity: #{$dark-bg-2-opacity};
  --color-1: #{$dark-color-1};
  --border-color: #{$dark-border-color};
  --white-color: #faf6f6;
  --black-color: #1f1f1f;
  --grey-color: #3b3b3b;
  --purple-gradient: linear-gradient(
    90deg,
    #7512b1 1.11%,
    #a345dc 48.15%,
    #dd3a95 96.32%
  );
  --input-text-color: #faf6f6;
  --input-bg-color: #27272a;
  --input-border-color: #4d4d4d;
  --yellow-color: #ffd91d;
  --light-purple: #e69fff;
  --green-color: #0f9;
  --dark-grey: #27272a;
  --blue-color: #3b82f6;
  --input-border-light: #ccc;
  --error-text-color: red;
  --black-040404: #040404;
  --purple-mid: #7512b1;
  --purple-new: #7611b2;
  --form-bg: #18181a;
  --input-placeholder-color: #dadada;
  --border-color: #4c4c4c;
  --table-bg-color: #18181b;
  --purple-button: #bd83d1;
  --purple-text: #b269fe;
  --purple-new: #955ad3;
  --highlight-color: #c5c5c5;
  --purple-highlight: #ab65f3;
  --purple-dark: #7814b4;
  --mdc-outlined-text-field-input-text-color: #faf6f6;
  --mat-form-field-container-vertical-padding: 12px;
  --mat-form-field-container-height: 42px;
  --mdc-outlined-text-field-caret-color: #faf6f6;
  --mat-sys-primary: #faf6f6;
  --mat-select-panel-background-color: #3b3b3b;
  --mat-select-enabled-trigger-text-color: #faf6f6;
  --mat-checkbox-label-text-color: #faf6f6;
  --mdc-checkbox-selected-checkmark-color: #1f1f1f;
  --mat-snack-bar-button-color: red;
  --p-tooltip-color: #faf6f6;
  --p-tooltip-background: #040404;
  --p-tooltip-padding: 20px;
  --p-tooltip-border-radius: 12px;
  --p-tooltip-max-width: 300px;
}

.mat-mdc-form-field {
  // Base state
  .mdc-notched-outline__leading,
  .mdc-notched-outline__trailing,
  .mdc-notched-outline__notch {
    border-color: #faf6f6 !important;
  }

  // Hover state
  &:hover:not(.mdc-text-field--disabled) {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__trailing,
    .mdc-notched-outline__notch {
      border-color: #faf6f6 !important;
    }
  }

  // Focus state
  &.mdc-text-field--focused {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__trailing,
    .mdc-notched-outline__notch {
      border-color: #faf6f6 !important;
    }
  }
}

mat-label{
  color: #faf6f6 !important;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  border-left: 0px !important;
}

::ng-deep .mdc-text-field--outlined{
  height: 42px !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: var(--border-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__trailing {
  border-color: var(--border-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover
  .mdc-notched-outline
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover
  .mdc-notched-outline
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-color: var(--border-color) !important;
}

// .mat-mdc-form-field:hover .mdc-text-field--outlined:not(.mdc-text-field--disabled) {
//   .mdc-notched-outline__leading,
//   .mdc-notched-outline__trailing,
//   .mdc-notched-outline__notch {
//     border-color: green !important;
//     transition: border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;
//   }
// }


@for $i from 1 to 10 {
    .fw-#{$i} {
        font-weight: #{$i * 100} !important;
    }
}

@for $i from 1 to 101 {
    .fs-#{$i} {
        font-size: #{$i}+'px' !important;
    }
}

.text-white {
  color: var(--color-1);
}

h1,
h2,
h3,
h4,
h5,
p,
button,
sup,
sub,
span,input {
  font-family: "Poppins", sans-serif !important;
}

html {
  --mat-sys-corner-extra-large: 8px !important;
  --mat-sys-surface: var(--bg-1) !important;
  --mat-sys-body-medium-font: "Poppins", sans-serif !important;
  --mat-sys-primary: #7512b1 !important;
  --mat-sys-on-surface-variant: var(--color-1) !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h2 {
  margin: 0 !important;
}

.outlinedButton {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 40px;
  padding: 8px 14px;
  border-radius: 6px;
  border: 2px solid var(--purple-button);
  background-color: transparent;
  color: var(--purple-button);
}

.outlinedRoundedButton {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 40px;
  padding: 8px 14px;
  border-radius: 24px;
  border: 2px solid var(--purple-button);
  background-color: #1f1f1f;
  color: var(--purple-button);
}

.filledRoundedButton {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 40px;
  padding: 8px 14px;
  border-radius: 24px;
  border: none;
  background-color: var(--btn-color, white);
  color: var(--text-color, black);
}

.fs-7 {
  font-size: 12px;
}

.glob-error-message {
  color: red !important;
  font-size: 0.875rem;
  margin-top: 5px;
}
